/JDuxmanCarVision/nbproject/private/
/JDuxmanCarVision/dist/
/JDuxmanCarVision/build/
/JDuxmanVision_JavaCV/nbproject/private/
/DetectarCirculos/nbproject/private/
/DetectarCirculos/build/
/CamaraJavaCV/nbproject/private/
/CamaraJavaCV/build/
/camaraJavacv2/nbproject/private/
/camaraJavacv2/build/